<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Doktor Bul</h5>
            <h1 class="display-4 mb-4">Sizin İçin En Doğru Hekimi Bulun</h1>
            <h5 class="text-white fw-normal">Yapay zeka destekli akıllı arama asistanımız çok yakında hizmetinizde olacak.</h5>
        </div>

        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <select class="form-select border-primary w-25" style="height: 60px;">
                    <option selected>Bölüm Seçiniz</option>
                    <option value="1">Kardiyoloji</option>
                    <option value="2">Nöroloji</option>
                    <option value="3">Ortopedi</option>
                    <option value="4">Dahiliye</option>
                </select>

                <input type="text" class="form-control border-primary w-50" placeholder="Anahtar kelime veya doktor adı...">

                <button class="btn btn-dark border-0 w-25">Ara</button>
            </div>
        </div>
    </div>
</div>
