<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    İletişime Geçin
                </h4>
                <p class="mb-4">
                    Sağlığınızla ilgili her türlü soru ve görüşünüz için bize aşağıdaki kanallardan ulaşabilirsiniz. 7/24 hizmetinizdeyiz.
                </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123 Cumhuriyet Cad., İstanbul, TR</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>bilgi@medinova.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+90 212 123 45 67</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Hızlı Bağlantılar
                </h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="#home"><i class="fa fa-angle-right me-2"></i>Ana Sayfa</a>
                    <a class="text-light mb-2" href="#about"><i class="fa fa-angle-right me-2"></i>Hakkımızda</a>
                    <a class="text-light mb-2" href="#services"><i class="fa fa-angle-right me-2"></i>Hizmetlerimiz</a>
                    <a class="text-light mb-2" href="#team"><i class="fa fa-angle-right me-2"></i>Doktorlarımız</a>
                    <a class="text-light" href="#contact"><i class="fa fa-angle-right me-2"></i>İletişim</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Popüler Bölümler
                </h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Kardiyoloji</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Nöroloji</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Ortopedi</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Diş Hekimliği</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Dahiliye</a>
                    <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Laboratuvar</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    E-Bülten
                </h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="E-Mail Adresiniz">
                        <button class="btn btn-primary">Abone Ol</button>
                    </div>
                </form>
                <h6 class="text-primary text-uppercase mt-4 mb-3">Bizi Takip Edin</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">
                    &copy; <a class="text-primary" href="#">Medinova</a>. Tüm Hakları Saklıdır.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">
                    Designed by <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
